<div class="help" id="help3">
	<link rel="stylesheet" type="text/css" href="resource/styles/help3.css">
	<img id="fromComponent" class="arrow" src="resource/images/next.png"></img>
	<div class="explanation">
	This is the description pane. Here you can see an ability's name, icon, description, cost and class types.
	<br />
	If an ability has replacements, you can cycle them by pushing the alt key (cycles the currently locked ability),
	or by pushing the little button in the top left corner of an ability icon in the teams pane.
	<br />
	<br />
	Press the help button again, to close this tutorial.
	</div>
</div>
