<div class="help" id="help1">
	<link rel="stylesheet" type="text/css" href="resource/styles/help1.css">
	<img id="fromComponent" class="arrow" src="resource/images/next.png"></img>
	<div class="explanation">
	This is the search pane. Here you can look up characters you want to know about. Just type in any name or part of a name (or even a title, like "hokage"!) and you will get a list of matches.
	You can cycle through characters with the mouse or arrow keys (&#8593;&#8595;). You can also hide the searchpane by pressing the escape key.
	<br />
	<br />
	Once you've selected the character you want, press Enter or click on it with the mouse to continue.
	</div>
</div>
