<div class="help" id="help3">
	<img id="fromComponent" class="arrow" src="resource/images/next.png"></img>
	<div class="explanation">
	This is the teams pane. You can insert a total of 6 characters in 2 teams.
	<br />
	<br />
	You can cycle through characters with the mouse or arrow keys (&#8593;&#8595;). Once you've selected the character you want, press Enter or click with the mouse.
	</div>
</div>