<div class="help" id="help1">
	<img id="fromComponent" class="arrow" src="resource/images/next.png"></img>
	<div class="explanation">
	This is the search pane. Here you can look up characters you want to know about. Just type in any name or part of a name (or even a title, like "hokage"!) and you will get a list of matches.
	<br />
	<br />
	You can cycle through characters with the mouse or arrow keys (&#8593;&#8595;). Once you've selected the character you want, press Enter or click with the mouse.
	</div>
</div>