<div class="help" id="help3">
	<link rel="stylesheet" type="text/css" href="resource/styles/help3.css">
	<img id="fromComponent" class="arrow" src="resource/images/next.png"></img>
	<div class="explanation">
	This is the teams pane. You can insert a total of 6 characters in 2 teams. You can see each character's avatar, as well as abilities.
	Above each ability's icon, there are icons for the classes which that ability is of. Hovering above a class icon will display a tooltip on the lower right side of the screen.

	Inside the ability icon, on the lower left side, you can see its cost. Again, hovering over a chakra cost will display a tooltip with its name on the lower right side of the screen.
	<br />
	<br />
	Hovering over an ability icon will display details about the ability in the panel behind this text. Click an ability to lock the description.
	</div>
</div>
