<html lang="en-US">

	<head>

		<meta charset="utf-8">
		
		</meta>
	
		<title>Shippuuden-Arena</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		
		<script type="text/javascript" src="resource/scripts/queryUpdate.js" defer> </script>
		<script type="text/javascript" src="resource/scripts/characterinfo.js" defer> </script>
		<script type="text/javascript" src="resource/scripts/help.js" defer> </script>
		<script type="text/javascript" src="resource/scripts/keyevents.js" defer> </script>
		<script type="text/javascript" src="resource/scripts/mouseevents.js" defer> </script>
		
		<link rel="stylesheet" type="text/css" href="resource/styles/style_index.css">
		<link rel="stylesheet" type="text/css" href="resource/styles/helppane.css">
		<link rel="stylesheet" type="text/css" href="resource/styles/infopane.css">
		<link rel="stylesheet" type="text/css" href="resource/styles/descriptionpane.css">
		
	</head>

	
	<body onkeydown="onKeyDown();" onload="updateSuggestions();" unselectable="on" onselectstart="return false;">
		
		<img id="helpbtn" src="resource/images/help.png"></img>
		
		<div id="helppane" show="false">
			<img class="nextbtn" src="resource/images/next.png"></img>
		</div>
		
		<div id="searchpane" collapse="false">
			<form style="margin-bottom: 1px;">
				<input onblur=""
				id="searchbox" 
				name="characterQuery" 
				type="text"
				pattern="[A-Za-z]"
				autocomplete="off"
				placeholder="Search characters..."
				oninput    = "updateSuggestions();"
				onkeydown  = "checkInput();" required></input>
			</form>
			
			<ol id="resultlist">
			</ol>
		</div>

		<div id="infopane">
		
			<div id="teamspane">
			
				<div class="team" id="player">
					<%- include("team"); %>
					
				</div>
				
				<div class="team" id="enemy">
					<%- include("team"); %>
				</div>
			
			</div>
			
			<div id="descriptionpane"> 
			
				<div class="header">
				
					<img class="icon" onmousedown="event.preventDefault();"></img>
					
					<div class="basicinfo">
						
						<div class="name">Ability</div>
						<div class="description"></div>
						
						
					</div>
					
				
				</div>
				
				<div class="stats">
				
					<span class="label">
						Cost:
						<table class="cost" nocost="true">
							<td class="abilitycost tooltipped" id="n"><span class="tooltip"></span></td>
						</table>
						<span class="nocost">
							None
						</span>
					</span>
					
					
					<span class="label">
						Cooldown: <span class="cd"></span>
					</span>
					
					<table class="classes">			</table>
				</div>
				
			</div>
		
		</div>
	
	</body>
</html>