.abilitycost {
	box-sizing: border-box;
	
	width: 1vw;
	height: 1vw;
	
	border-style: solid;
	border-width: 1px;
}

.abilitycost#taijutsu {
	background: #0F0;
}

.abilitycost#ninjutsu {
	background: #0AF;
}

.abilitycost#bloodline {
	background: #F00;
}

.abilitycost#genjutsu {
	background: #FFF;
}

.abilitycost#random {
	background: #000;
}