#character_pane {
	padding:5px;
	background-clip: padding-box;
	background-color:#F5F1DE;
	box-sizing: border-box;
	float:left;
	width: 80%;
	height: 100%;
	overflow: auto;
}

.characterinfo {
	height: 20%;
}

.characterinfo .name {
	line-height: 8vh;
}

.ability {
	height: 19.9%;
}

.characterinfo, .ability {
	box-sizing: border-box;
	margin: 1px;
	display: table;
	width:100%;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}

.header {
	width: 100%;
	height: 11vh;
}

.icon {
	float:left;
	width: 10vh;
	height: 10vh;
	vertical-align: middle;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
}

.headertext {
	box-sizing: border-box;
	float: left;
	padding-left: 10px;
	height: 100px;
}

.classes {
	box-sizing: border-box;
	float: right;
	padding-left: 10px;
	height: 10vmin;
}

.classes table {
	border-collapse: separate;
	width: 66vmin;
}

.classes td {
	padding: 5px;
	width: 10vmin;
	text-align: center;
	font-size: 2vmin;
	border-style: solid;
	border-width: 1px;
}

#physical[data-active="true"] {
	background-color: #FFFFFF;
	color: #000000;
}
#chakra[data-active="true"] {
	background-color: #0000FF;
	color: #FFFF00;
}
#melee[data-active="true"] {
	background-color: #FFFF00;
	color: #0000FF;
}

.abilityclass[data-active="false"] {
	opacity: 0.4;
	background-color: #FFFFFF00;
}
.abilityclass[data-active="true"] {
	opacity: 1.0;
}

.name {
	font-size: 3.5vmin;
	font-weight: bold;
	height: 45%;
}

.cost {
}

.cost td {
	box-sizing: border-box;
	width: 1.5vmin;
	height: 1.5vmin;
	border-style: solid;
	border-width: 1px;
}

.taijutsu {
	background-color: #00FF00
}

.ninjutsu {
	background-color: #0099FF;
}

.bloodline {
	background-color: #FF0000;
}

.genjutsu {
	background-color: #FFFFFF;
}

.random {
	background-color: #000000;
}

.cd {
	font-size: 3vmin;
	height: 45%;
}

.description {
	font-size: 2vmin;
	
}