@import url('abilityclass.css');
@import url('abilitycost.css');

#descrptionpane .cost {
	border-style: solid;
	border-width: 1px;
	z-index: initial;
}

#descriptionpane .nocost {
	display: none;
	font-weight: bold;
	font-style: italic;
}

#descriptionpane .cost[nocost="true"]  {
	display: none;
}

#descriptionpane .cost[nocost="true"] ~ .nocost{
	display: block;
	height: auto;
}

#descriptionpane .cd {
	font-weight: bold;
}

#descriptionpane .classes {
	background-color: white;
}
