#helppane[stage="3"] ~ #searchpane {
	background-color: rgba(0, 0, 0, 0.7);
}

#helppane[stage="3"] ~ #infopane {
	background-color: rgba(0, 0, 0, 0.7);
}

#helppane[stage="3"] ~ #infopane #teamspane img {
	z-index: 1;
	opacity: 0.3;
}

#helppane[stage="3"] ~ #searchpane img {
	z-index: 1;
	opacity: 0.3;
}

#helppane[stage="3"] ~ #infopane #teamspane table {
	z-index: 1;
	opacity: 0.3;
}

#helppane[stage="3"] ~ #infopane #descriptionpane {
	z-index: 7;
	background-color: #F5F1DE;
}

#helppane[stage="3"] ~ #infopane .tooltip {
	color: white;
}

#helppane[stage="3"] #help3 {
	position: absolute;

	left: 20vw;
	bottom: 20h;
}

#help2 .arrow {
	width: 5vw;
	height: 5vw;

	position: absolute;
	top: 35vw;
	left: 23.5vw;
}

#help2 #fromComponent {
	transform: rotate(90deg);
}

#help2 .explanation {
	position: absolute;
	top: 41vw;
	left: -18vw;

	width: 75vw;
	height: 20vw;
}
