#helpbtn {

	z-index: 6;

	position:absolute;
	right: 2px;
	top: 2px;

	width: 1vw;
	height: 1vw;

	transition: background-color 0.2s;
}

#helpbtn:hover {
	background-color: #00AAFF;
}

#helppane {

	z-index: 2;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	width: 0px;
	height: 0px;

	/*width: 100%;
	height: 100%;*/

	opacity: 0;

	transition: opacity 0.3s;

	visibility: hidden;
}

.explanation {
	background-color: rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 20px;

	font-size: 1.5vw;
	color: white;
	font-family: "Arial";
	
	padding: 10px;
	background-clip: border-box;
}

#helppane[show="true"] {
	visibility: visible;
	opacity: 1.0;
}

div {
	transition: z-index 0.2s;
}

.help {
	display: none;
	position: absolute;
}


.arrow {
	position: absolute;
}

#nextStage {
	position: fixed !important;
	bottom: 1vw !important;
	right: 1vw !important;
	top: initial;
	left: initial;
}

#helppane[stage="1"] > #help1 {
	display: initial;
}

#helppane[stage="2"] > #help2 {
	display: initial;
}
