#helppane[stage="3"] ~ #searchpane {
	background-color: rgba(0, 0, 0, 0.7);
}

#helppane[stage="3"] ~ #infopane {
	background-color: rgba(0, 0, 0, 0.7);
}

#helppane[stage="3"] ~ #infopane #teamspane img {
	z-index: 1;
	opacity: 0.3;
}

#helppane[stage="3"] ~ #searchpane img {
	z-index: 1;
	opacity: 0.3;
}

#helppane[stage="3"] ~ #infopane #teamspane .classes {
	z-index: 1;
	opacity: 0.3;
}

#helppane[stage="3"] ~ #infopane #descriptionpane {
	z-index: 7;
	background-color: #F5F1DE;
}

#helppane[stage="3"] ~ div .tooltip {
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 1;
}

#helppane[stage="3"] #help3 {
	position: absolute;

	left: 20vw;
}

#help3 .arrow {
	top: 29.5vw;
	left: 23.5vw;
}

#help3 #fromComponent {
	transform: rotate(-90deg);
}

#help3 .explanation {
	position: absolute;
	bottom: -30vw;
	left: -18vw;

	width: 90vw;
}
