#helppane[stage="1"] #help1 {
	width: 79vw;
	height: 90vh;
	
	top: 2vw;
	left: 20vw;
}

#helppane[stage="1"] ~ #infopane {
	background-color: rgba(0, 0, 0, 0.7);
}

#helppane[stage="1"] ~ #infopane img {
	z-index: 1;
	opacity: 0.3;
}

#helppane[stage="1"] ~ #infopane table {
	z-index: 1;
	opacity: 0.3;
}

#help1 .arrow {
	width: 5vw;
	height: 5vw;
	
	
	top: 2vw;
}

#help1 .explanation {
	position: absolute;
	top: 0vw;
	left: 6vw;
	font-size: 1.5vw;
	color: white;
	font-family: "Arial";
}