#helppane[stage="2"] ~ #searchpane {
	background-color: rgba(0, 0, 0, 0.7);
}

#helppane[stage="2"] ~ #infopane {
	background-color: rgba(0, 0, 0, 0.7);
}

#helppane[stage="2"] ~ #infopane #descriptionpane img {
	z-index: 1;
	opacity: 0.3;
}

#helppane[stage="2"] ~ #searchpane img {
	z-index: 1;
	opacity: 0.3;
}

#helppane[stage="2"] ~ #infopane #descriptionpane table {
	z-index: 1;
	opacity: 0.3;
}

#helppane[stage="2"] ~ #infopane #teamspane {
	z-index: 7;
	background-color: #F5F1DE;
}

#helppane[stage="2"] ~ #infopane .tooltip {
	color: white;
}

#helppane[stage="2"] #help2 {
	position: absolute;

	left: 20vw;
	bottom: 20h;
}

#help2 .arrow {
	top: 34vw;
	left: 23.5vw;
}

#help2 #fromComponent {
	transform: rotate(90deg);
}

#help2 .explanation {
	position: absolute;
	top: 80vh;
	left: -18vw;

	width: 90vw;
	height: 13vh;
}
