#helpbtn {

	z-index: 6;

	transition: background-color 0.2s;
}

#helpbtn:hover {
	background-color: #00AAFF;
}

#helppane {

	z-index: 2;

	opacity: 0;

	transition: opacity 0.3s;

	visibility: hidden;
}

.explanation {
	background-color: rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 20px;

	color: white;
	font-family: "Arial";

	background-clip: border-box;
}

#helppane[show="true"] {
	visibility: visible;
	opacity: 1.0;
}

div {
	transition: z-index 0.2s;
}

#helppane[stage="1"] > #help1 {
	display: initial;
}

#helppane[stage="2"] > #help2 {
	display: initial;
}

#helppane[stage="3"] > #help3 {
	display: initial;
}
