
@import url('landscape/index.css') screen and (min-aspect-ratio: 5/4);
@import url('square/index.css') screen and (max-aspect-ratio: 5/4);

@import url('searchpane.css');
@import url('infopane.css');
@import url('descriptionpane.css');
@import url('helppane.css');

body {
	margin: 0px;
	box-sizing: border-box;
	width: 100%;
	background-color:#F5F1DE;
}
