@import url('abilityclass.css');
@import url('abilitycost.css');

#infopane {
	box-sizing: border-box;
	background-clip: padding-box;
	background-color: inherit;
}

#teamspane {
	overflow: hidden;
}

.member {
	transition: background-color 0.2s;
}

.member[marked="true"]  {
	background-color: rgba(0, 180, 230, 0.3);
}

#enemy .name {
	text-align: right;
}

.avatar {
	display: inline-block;
	box-sizing: border-box;
	border-style: solid;
	border-color: #FA0;
	border-width: 1px;

	transition: border-width 0.2s;
}

.avatar[marked="true"] {
	border-width: 8px;
}

#enemy .avatar {
	transform: scaleX(-1);
}

.ability {
	box-sizing: border-box;
}

.icon {
	box-sizing: border-box;

	border-style: solid;
	border-width: 1px;
	border-color: #0AF;
	transition: border-width 0.2s;

}

.icon[locked="true"] {
	border-width: 10px;
}

.alternate {
	box-sizing: border-box;
	content: url("icons/icon_alt.png");
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-size: 100% 100%;
}

.alternate[alternate="false"] {
	display:none;
}

.tooltip {
	visibility: hidden;
    border-radius: 6px;

	text-transform: capitalize;

	border-style: solid;
	border-width: 2px;
	border-radius: 30px;

	border-color: orange;

}
.tooltipped:hover  .tooltip {
	visibility: visible;
}

#teamspane .cost {
	background: white;
	border-style: solid;
	border-width: 1px;
}

#teamspane .cost[nocost="true"] {
	display: none;
}

#teamspane .classes {
	box-sizing: border-box;
	background: white;
	background-clip: content-box;
}

#teamspane .classes:empty {
	background: rgba(0, 0, 0, 0);
}
