#searchpane {
	box-sizing: border-box;

	background-color: #F5F1DE;

	border-style:solid;
	border-width: 1px;

}

#searchbox {
	background-color: #ffcc00;
	background-clip: border-box;
	padding-left: 5px;
	border: none;
}

form:focus, #searchbox:focus {
	outline-style: solid;
	outline-width: 1px;
	outline-color: #BB8800;
}

.searchresult {
	box-sizing: border-box;
	list-style-type: none;
	border-style: solid;
	border-width: 1px;
	border-color: #62561e;
	overflow: hidden;
}

.searchresult[data-selected="true"] {
	background-color: orange;
}

form {
	width: 100%;
}
