@import url('landscape/index.css');
@import url('square/index.css');
@import url('portrait/index.css');

/*html, body {
	min-width: 1280px;
	min-height: 720px;
}*/

body {
	margin: 0px;
	box-sizing: border-box;
	width: 100%;
}

#searchpane {
	display: inline-block;
	border-style:solid;
	border-width: 1px;
	box-sizing: border-box;
	margin: 0px;
	background-color: #F5F1DE;
	padding: 1px;
	transition: left 0.2s;
}

#searchpane[collapse="true"] {
}

#searchbox {
	background-color: #ffcc00;
	border: none;
}

#resultlist {
	margin: 0px;
	padding: 0px;
}

.searchresult {
	box-sizing: border-box;
	overflow: hidden;
	list-style-type: none;
	margin: 0px auto;
	border-style: solid;
	border-width: 1px;
	border-color: #62561e;
	padding-left: 1vw;
}

.searchresult[data-selected="true"] {
	background-color: orange;
}


form {
}
